
.00 -> .06 = 0 inches
.07 -> .18 = 1/8 inches
.19 -> .31 = 2/8 or 1/4 inches
.32 -> .43 = 3/8 inches
.44 -> .56 = 4/8 or 1/2 inches
.57 -> .68 = 5/8 inches
.69 -> .81 = 6/8 or 3/4 inches
.82 -> .93 = 7/8 inches
.94 -> .99 = next inch
